<h3> User List</h3>
<div class="error">
  {{ error }}
</div>
<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>
      ID
    </th>
    <th>
      Email
    </th>
    <th>
      Name(F L)
    </th>
    <th>
      Profile
    </th>
    <th>
      iOS ID
    </th>
    <th>
      Android ID
    </th>
    <th>
      Country
    </th>
    <th>
      Sign-up Date
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of userList">
    <td>
      {{ user.id }}
    </td>
    <td>
      {{ user.email }}
    </td>
    <td>
      {{ user.firstName }} {{ user.lastName }}
    </td>
    <td>
      {{ user.profile }}
    </td>
    <td>
      {{ user.ios_registration_id.substring(0, 5) }}
    </td>
    <td>
      {{ user.android_registration_id.substring(0, 5) }}
    </td>
    <td>
      {{ user.country }}
    </td>
    <td>
      {{ user.dateCreated }}
    </td>
  </tr>
  </tbody>

</table>
