<h3> Device-Kid List</h3>
<div class="error">
    {{ error }}
</div>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>
            Mac ID
        </th>
        <th>
            Profile
        </th>
        <th>
            Parent
        </th>
        <th>
            Date Created
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let kid of kids">
        <td>
            <a [routerLink]="['/activity', kid.id]">{{ kid.id }}</a>
        </td>
        <td>
            {{ kid.name }}
        </td>
        <td>
            {{ kid.macId }}
        </td>
        <td>
            {{ kid.profile }}
        </td>
        <td>
            {{ kid.parent.email }}
        </td>
        <td>
            {{ kid.dateCreated }}
        </td>

    </tr>
    </tbody>

</table>