<h3> Dashboard </h3>
<div class="error">
  {{ error }}
</div>

<div class="dashboardTable">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th colspan="2" class="title">Total Users: {{ dashboard.totalUserCount }}</th>
    </tr>
    <tr>
      <th>
        Sign-up Count
      </th>
      <th>
        Date
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let d of dashboard.signup">
      <td>
        {{ d.signupCount }}
      </td>
      <td>
        {{ d.date }}
      </td>

    </tr>
    </tbody>
  </table>
</div>
<div class="dashboardTable">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th colspan="3" class="title">Total Activities: {{ dashboard.totalActivityCount }}</th>
    </tr>
    <tr>
      <th>
        Activity Count
      </th>
      <th>
        User Count
      </th>
      <th>
        Date
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let d of dashboard.activity">
      <td>
        {{ d.activityCount }}
      </td>
      <td>
        {{ d.userCount }}
      </td>
      <td>
        {{ d.date }}
      </td>

    </tr>
    </tbody>
  </table>
</div>


