
<form>
  <legend>Admin Server</legend>
  <label class="error-message label-danger label" *ngIf="showError">Please enter valid credential</label>
  <div class="form-group">
    <md-input-container>
      <input mdInput placeholder="Name" (input)="username = $event.target.value" required />
      <md-error>This field is required</md-error>
    </md-input-container>
  </div>
  <div class="form-group">
    <md-input-container>
      <input mdInput placeholder="Password" type="password" (input)="password = $event.target.value" required />
      <md-error>This field is required</md-error>
    </md-input-container>
  </div>
  <button md-raised-button (click)="login()">Login</button>
</form>

<div class="overlay loading" *ngIf="showLoading">
  <md-spinner></md-spinner>
</div>


