<div class="filter">
  <md-select placeholder="Filter" (change)="updateFilter()" [(ngModel)]="filterValue">
    <md-option *ngFor="let lan of filterList" [value]="lan">{{ lan }}</md-option>
  </md-select>
</div>


<div class="showUploadButton" [hidden]="showUploadSection">
  <button md-raised-button (click)="showUploadSection = true">Upload New Firmware Files</button>
</div>
<div [hidden]="!showUploadSection">
  <div class="fileUploader">
    <div class="file_input_div">
      <div class="file_input">
        <label class="image_input_button mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
          <button id="upload_button_1" md-mini-fab>File A</button>
          <input id="file_input_file_1" class="none" type="file" />
        </label>
      </div>
      <md-input-container class="file_input_container">
        <input id="file_input_text_1" mdInput placeholder="File Name" disabled />
      </md-input-container>
    </div>
    <div class="file_input_div">
      <div class="file_input">
        <label class="image_input_button mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
          <button id="upload_button_2" md-mini-fab>File B</button>
          <input id="file_input_file_2" class="none" type="file" />
        </label>
      </div>
      <md-input-container class="file_input_container">
        <input id="file_input_text_2" mdInput placeholder="File Name" disabled />
      </md-input-container>
    </div>
    <md-input-container  class="fwVersionNameContainer">
      <input id="fw_version_name" mdInput placeholder="FW Version Name" >
    </md-input-container>
    <button [disabled]="uploading" id="submit_button" md-raised-button><i class="material-icons">file_upload</i></button>
  </div>

</div>

<div class="fwList">
  <table class="table">
    <thead>
    <tr>
      <th>
        ID
      </th>
      <th>
        Version
      </th>
      <th>
        File A
      </th>
      <th>
        File B
      </th>
      <th>
        Uploaded Date
      </th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let file of fwListFiltered">
      <td>
        {{file.id}}
      </td>
      <td>
        {{file.version}}
      </td>
      <td>
        <a href="{{env.S3BaseURL + '/' + file.fileAUrl}}" target="_blank">{{file.version}} - A</a>
      </td>
      <td>
        <a href="{{env.S3BaseURL + '/' + file.fileBUrl}}" target="_blank">{{file.version}} - B</a>
      </td>
      <td>
        {{file.uploadedDate}}
      </td>
    </tr>
    </tbody>
  </table>
</div>
